In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\nitu calla\appdata\roaming\python\python310\site-packages (4.11.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio~=0.17 in c:\users\nitu calla\appdata\roaming\python\python310\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\nitu calla\appdata\roaming\python\python310\site-packages (from selenium) (0.10.3)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\nitu calla\appdata\roaming\python\python310\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\nitu calla\appdata\roaming\python\python310\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\nitu calla\appdata\roaming\python\python310\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\nitu calla\appdata\roaming\python\python310\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:

import selenium
from selenium import webdriver  # this webdriver module to open automated chrome window
import pandas as pd  # to create dataframe
from selenium.webdriver.common.by import By  # importing inbuild class by
import warnings
warnings.filterwarnings("ignore")
import time

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually

In [282]:
driver = webdriver.Chrome()

In [283]:
driver.get('https://www.shine.com')

In [287]:
designation = driver.find_element(By.ID,"id_q")
designation.send_keys('Data Analyst')

In [288]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [289]:
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [290]:
job_title=[]
job_location=[]
company_name=[]
experiance_required =[]
url= []

In [291]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]') 
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)


# Scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

# Scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

# Scraping job experiance from the given page
experiance_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experiance_tags[0:10]:
    exp=i.text
    experiance_required.append(exp)

In [292]:
print(len(job_title),len(job_location),len(company_name),len(experiance_required))

10 10 10 10

In [293]:
# now making DF
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company Name':company_name,'Experiance':experiance_required})
df

,Title,Location,Company Name,Experiance
0,Data Analyst,Bangalore\n+13,rama technical consultants,11 to 21 Yrs
1,now Data Analyst,Bangalore\n+8,apidel technologies private limited,4 to 7 Yrs
2,Hiring Data Analyst,Bangalore\n+8,apidel technologies private limited,2 to 6 Yrs
3,Data Analyst,Bangalore\n+8,apidel technologies private limited,2 to 4 Yrs
4,"Business Data Analyst, GlowRoad",Bangalore,amazon,1 to 3 Yrs
5,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
6,Hiring IN - DCS Data Analyst,Bangalore\n+8,apidel technologies private limited,2 to 4 Yrs
7,IN - DCS Data Analyst,Bangalore\n+8,apidel technologies private limited,3 to 5 Yrs
8,Project Coordinator (Data Analyst),Bangalore,futures and careers,2 to 4 Yrs
9,Hiring For Data Analyst,Bangalore\n+14,kavya staffing solutions,0 to 4 Yrs

Q2:Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter thelocation” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually

In [294]:
driver = webdriver.Chrome()

In [295]:
driver.get('https://www.shine.com')

In [298]:
designation = driver.find_element(By.CLASS_NAME,"form-control")
designation.send_keys('Data Scientist')

In [299]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [300]:
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [301]:
job_title=[]
job_location=[]
company_name=[]
experiance_required =[]
url= []

In [302]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]') 
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)


# Scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

# Scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

# Scraping job experiance from the given page
experiance_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experiance_tags[0:10]:
    exp=i.text
    experiance_required.append(exp)

In [303]:
print(len(job_title),len(job_location),len(company_name),len(experiance_required))

10 10 10 10

In [304]:
# now making DF
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company Name':company_name,'Experiance':experiance_required})
df

,Title,Location,Company Name,Experiance
0,Data Scientist Recruitment,Bangalore\n+17,kavya staffing solutions,0 to 4 Yrs
1,Hiring For Data Scientist,Bangalore\n+17,kavya staffing solutions,0 to 4 Yrs
2,Hiring For Data Scientist,Bangalore\n+17,kavya staffing solutions,0 to 4 Yrs
3,Data Scientist,Bangalore,skyleaf consultants,5 to 10 Yrs
4,Data Scientist Bangalore,Bangalore,skyleaf consultants,3 to 6 Yrs
5,Data Scientist Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
6,Required for Data Scientist,Bangalore,deuglo infosystem private limited,4 to 6 Yrs
7,Urgently need Data Scientist,Bangalore\n+8,deuglo infosystem private limited,4 to 6 Yrs
8,Data scientist Bangalore,Bangalore,seven geomax consulting private lim...,6 to 9 Yrs
9,Data Scientist,Bangalore,employberry consultants hiring for ...,3 to 6 Yrs

Q3: In this question you have to scrape data using the filters available on the webpage 

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.shine.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scrapeddata.
Note: All of the above steps have to be done in code. No step is to be done manually

In [395]:
driver = webdriver.Chrome()

In [396]:
driver.get('https://www.shine.com')

In [398]:
designation = driver.find_element(By.CLASS_NAME,"form-control")
designation.send_keys('Data Scientist')

In [399]:
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [400]:
location_button = driver.find_element(By.XPATH,'//i[@class="iconH-arrow mx-10"]')
location_button.click()

In [401]:
city_filter = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[8]/span/label")
city_filter.click()

In [402]:
salary_filter = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/ul/li[3]")
salary_filter.click()

In [403]:
Salary_button = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label')
Salary_button.click()

In [404]:
Show_Result_button = driver.find_element(By.XPATH,'//button[@class="btn btn-secondary"]')
Show_Result_button.click()

In [405]:
job_title = []
job_location = []
company_name = []
experiance_required = []

title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]') 
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)


# Scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

# Scraping company name from the given page
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

# Scraping job experiance from the given page
experiance_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experiance_tags[0:10]:
    exp=i.text
    experiance_required.append(exp)

In [406]:
print(len(job_title[0:10]),len(job_location[0:10]),len(company_name[0:10]),len(experiance_required[0:10]))

10 10 10 10

In [407]:
# now making DF
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company Name':company_name,'Experiance':experiance_required})
df

,Title,Location,Company Name,Experiance
0,DATA SCIENTIST DELHI,Delhi,skyleaf consultants,3 to 6 Yrs
1,DATA SCIENTIST DELHI,Delhi,skyleaf consultants,3 to 6 Yrs
2,Data Scientist,Delhi\n+6,quiscon biotech,0 to 3 Yrs
3,DATA SCIENTIST DELHI,Delhi,skyleaf consultants,3 to 6 Yrs
4,Data Scientist,Delhi\n+6,quiscon biotech,0 to 1 Yr
5,Data Scientist,Delhi,skyleaf consultants,3 to 6 Yrs
6,for _GCP Data Engineer/Lead/Architect- Delhi,Delhi,nina s hr consultancy,2 to 3 Yrs
7,for _GCP Data Engineer/Lead/Architect- Delhi,Delhi,nina s hr consultancy,2 to 3 Yrs
8,Data Analyst,Delhi,quess corp (magna infotech),4 to 7 Yrs
9,Req. For Data Scientist -Reputed Data Analytic...,Delhi,seven consultancy,2 to 6 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. ProductDescription
8. Price
The attributes which you have to scrape is ticked marked in the below image.


To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search fieldwhere “search for products, brands and more” is written and
   click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as      usual
4. After scraping data from first page go to second page and scrp data
5. repeat till u get 100 results.

In [494]:
driver = webdriver.Chrome()

In [495]:
# Opening the flipkart.com pag Son the automated chome browser
driver.get('https://www.flipkart.com')

In [496]:
product = driver.find_element(By.NAME,"q")
product.send_keys('Sunglasses')

In [498]:
search_btn=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_btn.click()

In [499]:
brands=[]
product_descriptions=[]
prices=[]

In [500]:
pages_to_scrape=3

In [501]:
for page in range(pages_to_scrape):
    time.sleep(3)
    
    brand_tags=driver.find_elements(By.CLASS_NAME,'_2WkVRV')
    for tag in brand_tags[0:100]:
        brands.append(tag.text)
        
    product_descriptions_tags=driver.find_elements(By.CLASS_NAME,'IRpwTa')
    for tag in product_descriptions_tags[0:100]:
        product_descriptions.append(tag.text)
    
    price_tags=driver.find_elements(By.CLASS_NAME,'_30jeq3')
    for tag in price_tags[0:100]:
        prices.append(tag.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    if next_button:
        next_button.click()
    else:
        break

In [502]:
print(len(brands[0:100])),print(len(product_descriptions[0:100])),print(len(prices[0:100]))

100
100
100

(None, None, None)

In [504]:
max_length = max(len(brands), len(product_descriptions), len(prices))

# Pad shorter lists with default values (e.g., None or empty string) to make them the same length
brands += [None] * (max_length - len(brands))
product_descriptions += [None] * (max_length - len(product_descriptions))
prices += [None] * (max_length - len(prices))

In [505]:
# creating Dataframe
import pandas as pd
df=pd.DataFrame({'Brands':brands,'Product Description':product_descriptions,'Price':prices,})
df

        Brands                                Product Description Price
0         SRPM             UV Protection Wayfarer Sunglasses (50)  ₹201
1    Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹177
2       PIRASO           UV Protection Clubmaster Sunglasses (54)  ₹245
3      ROADWAY  UV Protection Wayfarer, Sports, Spectacle , Re...  ₹294
4    Rich Club         UV Protection Retro Square Sunglasses (54)  ₹495
..         ...                                                ...   ...
130       None                                               None  ₹699
131       None                                               None  ₹539
132       None                                               None  ₹199
133       None                                               None  ₹197
134       None                                               None  ₹294

[135 rows x 3 columns]

In [ ]:
# Not getting next page after 2nd page . Also doono why I am getting more than 100 elements ... kinldy help

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. 

You have to go the link:

https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market

place=FLIPKART


As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [506]:
driver = webdriver.Chrome()

# Opening the flipkart.com pag Son the automated chome browser
driver.get('https://www. https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.')

WebDriverException: Message: unknown error: net::ERR_NAME_NOT_RESOLVED
  (Session info: chrome=116.0.5845.141)
Stacktrace:
	GetHandleVerifier [0x00007FF7D9AD52A2+57122]
	(No symbol) [0x00007FF7D9A4EA92]
	(No symbol) [0x00007FF7D991E3AB]
	(No symbol) [0x00007FF7D991A161]
	(No symbol) [0x00007FF7D990CADF]
	(No symbol) [0x00007FF7D990DE82]
	(No symbol) [0x00007FF7D990CEB8]
	(No symbol) [0x00007FF7D990BFBE]
	(No symbol) [0x00007FF7D990BF63]
	(No symbol) [0x00007FF7D990A9E5]
	(No symbol) [0x00007FF7D990B153]
	(No symbol) [0x00007FF7D991FF4B]
	(No symbol) [0x00007FF7D998EEF7]
	(No symbol) [0x00007FF7D9976FDA]
	(No symbol) [0x00007FF7D998EB82]
	(No symbol) [0x00007FF7D9976DB3]
	(No symbol) [0x00007FF7D994D2B1]
	(No symbol) [0x00007FF7D994E494]
	GetHandleVerifier [0x00007FF7D9D7EF82+2849794]
	GetHandleVerifier [0x00007FF7D9DD1D24+3189156]
	GetHandleVerifier [0x00007FF7D9DCACAF+3160367]
	GetHandleVerifier [0x00007FF7D9B66D06+653702]
	(No symbol) [0x00007FF7D9A5A208]
	(No symbol) [0x00007FF7D9A562C4]
	(No symbol) [0x00007FF7D9A563F6]
	(No symbol) [0x00007FF7D9A467A3]
	BaseThreadInitThunk [0x00007FFD435726AD+29]
	RtlUserThreadStart [0x00007FFD43B6AA68+40]

Answer : Link Expired

Q6: Scrape data forfirst 100 sneakers you find whenyou visit flipkart.com and search for “sneakers” inthe
search field.

You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price

As shown in the below image, you have to scrape the above attributes.

In [527]:
driver = webdriver.Chrome()

# Opening the flipkart.com page  
driver.get('https://www.flipkart.com')

In [528]:
product = driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sneakers')

In [529]:
search_btn=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_btn.click()

In [530]:
pages_to_scrape=2

for page in range(pages_to_scrape):
    time.sleep(3)
    
    brand_tags=driver.find_elements(By.CLASS_NAME,'_2WkVRV')
    for tag in brand_tags[0:100]:
        brands.append(tag.text)
        
    product_descriptions_tags=driver.find_elements(By.CLASS_NAME,'IRpwTa')
    for tag in product_descriptions_tags[0:100]:
        product_descriptions.append(tag.text)
    
    price_tags=driver.find_elements(By.CLASS_NAME,'_30jeq3')
    for tag in price_tags[0:100]:
        prices.append(tag.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    if next_button:
        next_button.click()
    else:
        break

In [531]:
print(len(brands[0:100])),print(len(product_descriptions[0:100])),print(len(prices[0:100]))

100
100
100

(None, None, None)

In [532]:
max_length = max(len(brands), len(product_descriptions), len(prices))

# Pad shorter lists with default values (e.g., None or empty string) to make them the same length
brands += [None] * (max_length - len(brands))
product_descriptions += [None] * (max_length - len(product_descriptions))
prices += [None] * (max_length - len(prices))

In [533]:
# creating Dataframe
import pandas as pd
df=pd.DataFrame({'Brands':brands,'Product Description':product_descriptions,'Price':prices,})
df

        Brands                                Product Description Price
0         SRPM             UV Protection Wayfarer Sunglasses (50)  ₹201
1    Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹177
2       PIRASO           UV Protection Clubmaster Sunglasses (54)  ₹245
3      ROADWAY  UV Protection Wayfarer, Sports, Spectacle , Re...  ₹294
4    Rich Club         UV Protection Retro Square Sunglasses (54)  ₹495
..         ...                                                ...   ...
550       None                                               None  ₹509
551       None                                               None  ₹368
552       None                                               None  ₹539
553       None                                               None  ₹449
554       None                                               None  ₹296

[555 rows x 3 columns]

In [ ]:
# Please help why I am getting more than 100 items although I had restricted number to 100

Q7: Go to webpage https://www.amazon.in/ 

Enter “Laptop” in the search field and then click the search icon. 

Then  set CPU Type filter to “Intel Core i7” as shown in the below image:


After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [168]:
driver = webdriver.Chrome()

# Opening the flipkart.com pag Son the automated chome browser
driver.get('https://www.amazon.in')

In [169]:
product = driver.find_element(By.ID,"twotabsearchtextbox")
product.send_keys('Laptop')

In [170]:
search_btn=driver.find_element(By.ID,'nav-search-submit-button')
search_btn.click()

In [172]:
# Choose to copy path as other method didnt worked somehow.

intel_core7 = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/span[9]/li/span/a/span")
intel_core7.click()

time.sleep(5)

In [ ]:
# Scraping title
title_el=driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
title=[]
for i in title_el[:10]:
    title.append(i.text)
    
#scraping ratings
rating_el = driver.find_elements(By.XPATH,"//span[@class='a-size-base puis-normal-weight-text']")
rating=[]
for i in rating_el[:10]:
    rating.append(i.text)
rating
   
# scraping prices   
price_el=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
price=[]
for i in price_el[:10]:
    price.append(i.text)

In [189]:
print(len(title[0:10])),print(len(rating[0:10])),print(len(price[0:10]))

10
10
10

(None, None, None)

In [191]:
# creating Dataframe
import pandas as pd
df=pd.DataFrame({'Title':title,'Rating':rating,'Price':price,})
df

                                               Title Rating     Price
0  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...    4.0    59,990
1  HP Omen 12th Gen Intel Core i7-12700H 16.1 inc...    4.0  1,59,199
2  Acer Nitro 5 12th Gen Intel Core i7-12650H Gam...    3.3    99,990
3  Dell Inspiron 5430 Laptop, Intel Core i7-1360P...    4.5    86,249
4  ASUS TUF Gaming F15 (2023) 90WHr Battery, Inte...    3.4  1,13,990
5  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...    3.7    76,990
6  Lenovo [SmartChoice] IdeaPad Slim 3 Intel Core...    4.2    62,990
7  Dell Inspiron 5630 13th Gen Laptop, Intel Core...    4.6    89,990
8  ASUS Creator Series Vivobook 14X OLED (2023), ...    3.6    85,990
9  Acer Predator Helios Neo 16 Gaming Laptop 13th...    4.3  1,24,990

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.

The above task will be done in following steps:

1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap 
    a) Quote 
    b) Author 
    c) Type Of Quotes

In [214]:
driver = webdriver.Chrome()

# Opening the flipkart.com pag Son the automated chome browser
driver.get('https://www.azquotes.com')

In [215]:
top_quote = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quote.click()

time.sleep(5)

In [222]:
# scraping top 1000 quote
start=0
end = 1000

for page in range (start,end+1):
    #scraping quote
    quote_el=driver.find_elements(By.XPATH,'//a[@class="title"]')
    quote=[]
    for i in quote_el:
        quote.append(i.text)
    
    #scraping Author name
    author_el=driver.find_elements(By.XPATH,'//div[@class="author"]')
    author=[]
    for i in author_el:
        author.append(i.text)

    #scraping type of quote
    type_el=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    type_q=[]
    for i in type_el:
        type_q.append(i.text)

    try:
        next_button=driver.find_element(By.XPATH,'//li[@class="next"]') # to scrap data from next pages as well
        next_button.click()
        time.sleep(3)
    except:
        print('No Next Button found. Now exiting')
        break

No Next Button found. Now exiting

In [223]:
print(len(quote[0:1000])),print(len(author[0:1000])),print(len(type_q[0:1000]))

100
100
100

(None, None, None)

In [224]:
# Tried with start as and end with 10 and limit each element to 1000 , still got only 100 output
# thus increasing itereration rate from 100 to 1000 and removing limit for elements - still getting 100 output only.

# creating Dataframe
import pandas as pd
df=pd.DataFrame({'Quote':quote,'Author':author,'Type Of Quote':type_q,})
df

,Quote,Author,Type Of Quote
0,Courage is the price that life exacts for gran...,Amelia Earhart,"Inspirational, Life, Success"
1,The worst evils which mankind has ever had to ...,Ludwig von Mises,"Peace, War, Government"
2,The moment we begin to fear the opinions of ot...,Elizabeth Cady Stanton,"Life, Strength, Courage"
3,"Trust yourself, you know more than you think y...",Benjamin Spock,"Positive, Family, Trust"
4,"Some people want it to happen, some wish it wo...",Michael Jordan,"Inspirational, Life, Motivational"
...,...,...,...
95,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
96,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
97,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
98,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
99,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.

This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame

In [ ]:
# open azquote-click to quote -scrape 1000 quotes- quote + Author + type 
driver = webdriver.Chrome()

# Opening the flipkart.com pag Son the automated chome browser
driver.get('https://www.jagranjosh.com')

In [ ]:
gk_sec = driver.find_element(By.XPATH,'/html/body/div[1]/header/nav/div/div/div[3]/ul/li[3]/a')
gk_sec.click()

In [ ]:
pm_sec = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
pm_sec.click()

In [ ]:
# we nevigated to the list of all prime ministers but the data mentioned here in website is not generalized.
# some names are in link form or if we take <td> elements with'style' attribute , it has different dimention in every name.
# Kindly suugest solution

Q10: Write a python program to display list of 50 Most expensive cars in the world 

(i.e.Car name and Price) from https://www.motor1.com/

This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [225]:
driver = webdriver.Chrome()

# Opening the flipkart.com pag Son the automated chome browser
driver.get('https://www.motor1.com')

In [230]:
input_words = driver.find_element(By.CLASS_NAME,"m1-search-form-button-animate icon-search-svg m1-mobile-search")
input_words.send_keys('50 most expensive cars in world')

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".m1-search-form-button-animate icon-search-svg m1-mobile-search"}
  (Session info: chrome=116.0.5845.141); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF7D9AD52A2+57122]
	(No symbol) [0x00007FF7D9A4EA92]
	(No symbol) [0x00007FF7D991E3AB]
	(No symbol) [0x00007FF7D9957D3E]
	(No symbol) [0x00007FF7D9957E2C]
	(No symbol) [0x00007FF7D9990B67]
	(No symbol) [0x00007FF7D997701F]
	(No symbol) [0x00007FF7D998EB82]
	(No symbol) [0x00007FF7D9976DB3]
	(No symbol) [0x00007FF7D994D2B1]
	(No symbol) [0x00007FF7D994E494]
	GetHandleVerifier [0x00007FF7D9D7EF82+2849794]
	GetHandleVerifier [0x00007FF7D9DD1D24+3189156]
	GetHandleVerifier [0x00007FF7D9DCACAF+3160367]
	GetHandleVerifier [0x00007FF7D9B66D06+653702]
	(No symbol) [0x00007FF7D9A5A208]
	(No symbol) [0x00007FF7D9A562C4]
	(No symbol) [0x00007FF7D9A563F6]
	(No symbol) [0x00007FF7D9A467A3]
	BaseThreadInitThunk [0x00007FFD435726AD+29]
	RtlUserThreadStart [0x00007FFD43B6AA68+40]

In [ ]:
# getting error as the website is showing no such keywords